<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VisorExterno</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<service-ref>
        <description>WSDL Service WSVisorService</description>
        <service-ref-name>service/WSVisorService</service-ref-name>
        <service-interface>com.bbva.visor.extranet.WSVisorService</service-interface>
        <wsdl-file>WEB-INF/wsdl/WSVisorPort.wsdl</wsdl-file>
        <jaxrpc-mapping-file>WEB-INF/WSVisorPort_mapping.xml</jaxrpc-mapping-file>
        <service-qname xmlns:pfx="http://extranet.visor.bbva.com/">pfx:WSVisorService</service-qname>
        <port-component-ref>
            <service-endpoint-interface>com.bbva.visor.extranet.WSVisorDelegate</service-endpoint-interface>
            <mtom-threshold>0</mtom-threshold>
        </port-component-ref>
    </service-ref></web-app>